name: .NET Core Desktop

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    strategy:
      matrix:
        configuration: [Debug, Release]

    runs-on: windows-latest

    env:
      Solution_Name: "wskcbsgen.sln"
      Test_Project_Path: "wskcbsgen/wskcbsgen.csproj"
      Wap_Project_Directory: "wskcbsgen.Package"
      Wap_Project_Path: "wskcbsgen.Package/wskcbsgen.wapproj"
      Platform: "x64"

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v2

      - name: Restore
        run: >
          msbuild "$env:Solution_Name"
          /t:Restore
          /p:Configuration=${{ matrix.configuration }}
          /p:Platform="$env:Platform"

      - name: Build
        run: >
          msbuild "$env:Solution_Name"
          /p:Configuration=${{ matrix.configuration }}
          /p:Platform="$env:Platform"

      - name: Test
        run: dotnet test --configuration ${{ matrix.configuration }}

      - name: Decode signing certificate
        if: matrix.configuration == 'Release'
        run: |
          $bytes = [Convert]::FromBase64String("${{ secrets.Base64_Encoded_Pfx }}")
          $path = Join-Path $env:Wap_Project_Directory "GitHubActionsWorkflow.pfx"
          [IO.File]::WriteAllBytes($path, $bytes)

      - name: Create MSIX package
        if: matrix.configuration == 'Release'
        run: >
          msbuild "$env:Wap_Project_Path"
          /p:Configuration=Release
          /p:Platform="$env:Platform"
          /p:UapAppxPackageBuildMode=StoreUpload
          /p:AppxBundle=Always
          /p:PackageCertificateKeyFile="GitHubActionsWorkflow.pfx"
          /p:PackageCertificatePassword="${{ secrets.Pfx_Key }}"

      - name: Cleanup certificate
        if: matrix.configuration == 'Release'
        run: Remove-Item "$env:Wap_Project_Directory/GitHubActionsWorkflow.pfx"

      - name: Upload MSIX
      - name: Download a Build Artifact
        uses: actions/download-artifact@v7
        with:
          name: "MSIX Package"        # The same artifact name you uploaded
          path: "DownloadedArtifacts"
        if: matrix.configuration == 'Release'
        uses: actions/upload-artifact@v4
        with:
          name: MSIX Package
          path: "${{ env.Wap_Project_Directory }}/AppPackages"
